.about-container {
	grid-template-columns: 1fr 1.1fr;
	align-items: initial;
	column-gap: 4rem;
}

.about-img {
	width: 400px;
	border-radius: 1.5rem;
	justify-self: baseline;
}

/* .about-info {
	grid-template-columns: repeat(3, 140px);
	gap: 0.5rem;
	margin-bottom: var(--bm-2);
} */

.about-box {
	background-color: var(--container-colour);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.75rem;
	text-align: center;
	padding: 1rem 1.25rem;
}

.about-icon {
	font-size: var(--h2-font-size);
	color: var(--title-colour);
	margin-bottom: var(--bm-0-5);
}

.about-title {
	font-size: var(--small-font-size);
	font-weight: var(--font-dark-weight);
}

.about-subtitle {
	font-size: var(--tiny-font-size);
}

.about-description {
	margin-bottom: var(--bm-1-5);
}

/* Breakpoints */
@media screen and (max-width: 992px) {
	.about-container {
		grid-template-columns: 1fr;
		row-gap: 2.5rem;
	}

	.about-img {
		width: 320px;
		justify-self: center;
	}

	.about-box {
		padding: 0.75rem 0.5rem;
	}

	.about-data {
		text-align: center;
	}

	/* .about-info {
		justify-content: center;
	} */

	.about-description {
		padding: 0 5rem;
		margin-bottom: var(--bm-2);
	}
}

@media screen and (max-width: 576px) {
	/* .about-info {
		grid-template-columns: repeat(3, 1fr);
	} */
	.about-description {
		padding: 0 1rem;
	}
	.about-img {
		width: 260px;
	}
}

@media screen and (max-width: 350px) {
	.about-description {
		padding: 0;
	}
	/* .about-info {
		grid-template-columns: repeat(2, 1fr);
	} */
}

/* I'm keeping .about-info for future development */
